/* Reset */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  width:100%;
  height:100%;
}

body{
  width:100%;
  min-height:100vh;
  font-family: "Poppins", sans-serif;
  background:#f8fafc;
  color:#1e293b;
  overflow-x:hidden;
}

#root{
  width:100%;
  min-height:100vh;
}

/* Global Links */

a{
  text-decoration:none;
  color:inherit;
}

/* Buttons */

button{
  font-family:inherit;
  cursor:pointer;
}

/* Inputs */

input,
textarea,
select{
  font-family:inherit;
}