.job-filters {
  display: grid;
  grid-template-columns: 2fr 1.2fr 1fr 1fr auto;
  gap: 10px;
  align-items: center;
}

@media (max-width: 950px) {
  .job-filters {
    grid-template-columns: 1fr 1fr;
  }
}
